* {
  margin: 0;
  overflow-x: hidden;
}

body {
  --header: 15vh;
  min-width: 100vw;
  min-height: calc(100vh- var(--header));
}

#login-mistakes {
  position: fixed;
  left: 50vw;
  top: 50vh;
  background-color: rebeccapurple;
}